# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/
artifacts/
data/
external/
job-recommendation/
deploy_hf_repo_CVJD/
deploy_hf_space/

# Large/local datasets
*.zip
*.csv
*.tsv
*.jsonl
*.pt

# Generated office/export files
*.docx
*.pdf
*.pptx

.vscode/
.idea/
*.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
